<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="myprojectConnectionString" connectionString="Data Source=DESKTOP-I1F1JEB\SQLEXPRESS;Initial Catalog=myproject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="college_projectConnectionString" connectionString="Data Source=DESKTOP-I1F1JEB;Initial Catalog=college_project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="college_01ConnectionString" connectionString="Data Source=DESKTOP-I1F1JEB;Initial Catalog=college_01;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>